<div class="text-center">
  <h2>Registered Users</h2>
</div>
<hr>
<table class="table table-sm table-hover">
  <tr>
    <td><b>FName</b></td>
    <td><b>LName</b></td>
    <td><b>Username</b></td>
    <td><b>Email</b></td>
  </tr>
  <tr *ngFor="let regUser of regUserList">
    <td>{{ regUser.fname }}</td>
    <td>{{ regUser.lname }}</td>
    <td>{{ regUser.username }}</td>
    <td>{{ regUser.email }}</td>
  </tr>
</table>

<!-- <a class="btn">
      <i class="fa fa-pencil-square-o" (click)="onEdit(user)"></i>
    </a>
    <a class="btn">
        <i class="fa fa-trash-o" (click)="onDelete(user.$key)"></i>
      </a> -->