/* You can add global styles to this file, and also import other style files */
.margin-left-custom {
    margin-left: 5px;
}

.red-border {
    border:red 1px solid;
}

input.ng-invalid.ng-dirty {
    border:red 1px solid;
}

button:hover, a.btn:hover {
    cursor: pointer;
}